<div class="card-actions flex-grow items-end relative bottom-0">
    <!-- Love button -->
    <button class="btn btn-ghost btn-sm love-button" hx-get="love/{{type}}/{{id}}" hx-trigger="click" hx-swap="outerHTML" hx-push-url="false" hx-target="#{{type}}_card_{{id}}">
        {% if user in content.loved_by.all %}
            <svg  xmlns="http://www.w3.org/2000/svg" fill="#ffd700bd" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 21l-1.45-1.316C5.4 15.36 2 12.28 2 8.5 2 5.41 4.42 3 7.5 3c1.74 0 3.41 1.19 4.5 2.5C13.09 4.19 14.76 3 16.5 3 19.58 3 22 5.41 22 8.5c0 3.78-3.4 6.86-8.55 11.18L12 21Z" />
            </svg>
        {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 21l-1.45-1.316C5.4 15.36 2 12.28 2 8.5 2 5.41 4.42 3 7.5 3c1.74 0 3.41 1.19 4.5 2.5C13.09 4.19 14.76 3 16.5 3 19.58 3 22 5.41 22 8.5c0 3.78-3.4 6.86-8.55 11.18L12 21Z" />
            </svg>
        {% endif %}          
    </button>
    <!-- Comment button -->
    <button class="btn btn-ghost btn-sm comment-button">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.076-4.076a1.526 1.526 0 0 1 1.037-.443 48.282 48.282 0 0 0 5.68-.494c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
          </svg>
    </button>

    <!-- Bookmark button -->
    {% if user in content.bookmarked_by.all %}
        <button class="btn btn-ghost btn-sm ml-auto bookmark-button" hx-get="bookmark/{{type}}/{{id}}" hx-trigger="click" hx-swap="outerHTML" hx-push-url="false" hx-target="#{{type}}_card_{{id}}">
            <svg xmlns="http://www.w3.org/2000/svg" fill="#ffd700bd" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
            </svg>
        </button>
    {% else %}
        <button class="btn btn-ghost btn-sm ml-auto bookmark-button" hx-get="bookmark/{{type}}/{{id}}" hx-trigger="click" hx-swap="outerHTML" hx-push-url="false" hx-target="#{{type}}_card_{{id}}">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
            </svg>
        </button>
    {% endif %}

</div>
