{% load partials %}

{% partialdef heart-button %}
  <button id="modal_heart_button" class="btn btn-outline join-item"
  hx-post="love/{{type}}/{{content.id}}/" hx-trigger="click"
  hx-vals='{"component": "modal_heart_button"}'
  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
  hx-swap="outerHTML" hx-push-url="false" hx-target="#modal_heart_button">
    {% if user in content.loved_by.all %}
        <svg  xmlns="http://www.w3.org/2000/svg" fill="#ffd700bd" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 21l-1.45-1.316C5.4 15.36 2 12.28 2 8.5 2 5.41 4.42 3 7.5 3c1.74 0 3.41 1.19 4.5 2.5C13.09 4.19 14.76 3 16.5 3 19.58 3 22 5.41 22 8.5c0 3.78-3.4 6.86-8.55 11.18L12 21Z" />
        </svg>
    {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 21l-1.45-1.316C5.4 15.36 2 12.28 2 8.5 2 5.41 4.42 3 7.5 3c1.74 0 3.41 1.19 4.5 2.5C13.09 4.19 14.76 3 16.5 3 19.58 3 22 5.41 22 8.5c0 3.78-3.4 6.86-8.55 11.18L12 21Z" />
        </svg>
    {% endif %}
  </button>
{% endpartialdef heart-button %}

{% partialdef bookmark-button %}
  <button id='modal_bookmark_button' class="btn btn-outline join-item" 
    hx-post="bookmark/{{type}}/{{content.id}}/" hx-trigger="click"
    hx-vals='{"component": "modal_bookmark_button"}'
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    hx-swap="outerHTML" hx-push-url="false" hx-target="#modal_bookmark_button">
    <!-- Bookmark button -->
    {% if user in content.bookmarked_by.all %}
      <svg xmlns="http://www.w3.org/2000/svg" fill="#ffd700bd" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
      </svg>
    {% else %}
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
      </svg>
    {% endif %}
  </button>

{% endpartialdef bookmark-button %}


<dialog x-ref="post_content_dialog" id="my_post_content" class="modal" @click="close_post_content_from_event(event)">
  <div class="modal-box w-11/12 max-w-4xl text-white">
    
    {% if type == 'post'%}
      {% include 'posts/modal.html' with post=content %}
    {% elif type == 'prayer' or type == 'quote'%}
      <form method="dialog" hx-get="{% url 'home' %}" hx-push-url="false" hx-target="#main_content" hx-trigger="click" hx-swap="outerHTML">
        <!-- TODO: Update homepage on close-->
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
      </form>
      <div class="border border-yellow-200 rounded-lg p-2 mt-8">
        <p class="py-4">{{content.content}}</p>
      </div>
    {% else %}
      <!-- Not expected -->
    {% endif %}
    
    <div class="card-actions justify-end">
        <div class="badge self-center">{{content.posted_by.username}}</div>
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img
              alt="Posted By Image"
              src="{{ content.posted_by.profile.profile_pic.url }}" />
          </div>
        </div>
    </div>



    <div class="join">
      {% partial heart-button %}

      {% partial bookmark-button %}
    </div>

    {% include 'comments/comments.html' with form=comment_form %}


  </div>
</dialog>