{% load static %}
{% load _extras %}

<div class="card card-compact bg-base-100 w-80 h-80 image-full shadow-xl mx-6">
{% if 'Meditation'|check_tag:quote %}
        <figure>
            <img
                src="{% static '/img/meditation_img.jpg' %}"
                alt="meditation" />
        </figure>
{% else %}
    <figure>
        <img
            src="{% static '/img/quote_img.jpg' %}"
            alt="meditation" />
    </figure>
{% endif %}
    <div class="card-body">
        <span class="font-sans font-semibold">"{{quote.content}}" </span>
        <span class="font-sans font-bold text-yellow-500">- {{quote.author}}</span>
    </div>
</div>