{% load _extras %}

{% partialdef content-list %}
    {% for c in content %}
        {% with obj_name=c|class_name %}
            {% if obj_name == 'Post' %}
                {% include 'posts/post_content.html' with post=c %}
            {% elif obj_name == 'Prayer' %}
                {% include 'prayers/prayer_content.html' with prayer=c %}
            {% elif obj_name == 'Quote' %}
                {% include 'quotes/quote_content.html' with quote=c %}
            {% endif %}
        {% endwith %}

        {% if page_obj.has_next and forloop.last %}
        <span hx-get="{% url 'articles' %}?page={{ page_obj.next_page_number }}"
              hx-swap="beforeend" hx-target="#main_content"
              hx-push-url="false"
              hx-trigger="revealed">
            </span>
        {% endif %}
    {% endfor %}
{% endpartialdef content-list %}

<!-- Main Section -->
<div id="main_content" class="m-2 flex flex-wrap gap-12 column-4 h-dvh pt-8 pb-24 pl-6 overflow-y-auto justify-center" 
    x-data="{   close_post_content() {$refs.post_content_dialog.close()},
                close_post_content_from_event(event) {
                    if (event.currentTarget === event.target) {
                        this.close_post_content();
                    }
                },  
    }"
>
    {% partial content-list %}
</div>

{% include 'posts/new_post.html' %}


<!-- TODO: Need to do this for all prayers & quotes-->

<dialog id="my_post_content" class="modal" style="display: none;">
    <div class="modal-box w-11/12 max-w-4xl">
      <h3 class="text-lg font-bold">Hello!</h3>
      <p class="py-4">Click the button below to close</p>
      <div class="modal-action">
        <button class="btn">Close</button>
      </div>
    </div>
</dialog>