{% load _extras %}

<!-- Main Section -->
<div class="m-2 flex flex-wrap gap-2 column-4 h-dvh pt-8 pb-24 pl-6 overflow-y-auto justify-center" 
    x-data="{   close_post_content() {$refs.post_content_dialog.close()},
                close_post_content_from_event(event) {
                    if (event.currentTarget === event.target) {
                        this.close_post_content();
                    }
                },  
    }"
>
    {% for c in content %}
        {% with obj_name=c|class_name %}
            {% if obj_name == 'Post' %}
                {% include 'posts/post_content.html' with post=c %}
            {% elif obj_name == 'Prayer' %}
                {% include 'prayers/prayer_content.html' with prayer=c %}
            {% elif obj_name == 'Quote' %}
                {% include 'quotes/quote_content.html' with quote=c %}
            {% endif %}
        {% endwith %}
    {% endfor %}
</div>

{% include 'posts/new_post.html' %}