{% load partials %}

{% partialdef post-form %}
    <div class="pt-7 pb-3">
        <div>
            <label class="input input-bordered flex items-center gap-2">
                <input type="text" name="title" class="grow border-0" placeholder="Title of Post*" required/>
            </label>
        </div>

        <div class ="py-4">
            <label class="input input-bordered flex items-center gap-2">
                <input type="url" name="url" class="border-0 grow" placeholder="URL Link*"
                    pattern="https://.*" size="30" required/>
            </label>
        </div>

        <div class="pb-2">
            <textarea name="summary" class="textarea textarea-bordered h-44 w-full" placeholder="Summarize Post*" required></textarea>
        </div>

        <div class="text-end">
            <button class="btn btn-outline btn-primary" 
                    hx-post="post/new/"
                    hx-push-url="false"
                    hx-target="#post_form"
                    hx-swap="innerHTML"
                    @click="close_new_post_modal()">           
                Submit
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 7.5h-.75A2.25 2.25 0 0 0 4.5 9.75v7.5a2.25 2.25 0 0 0 2.25 2.25h7.5a2.25 2.25 0 0 0 2.25-2.25v-7.5a2.25 2.25 0 0 0-2.25-2.25h-.75m0-3-3-3m0 0-3 3m3-3v11.25m6-2.25h.75a2.25 2.25 0 0 1 2.25 2.25v7.5a2.25 2.25 0 0 1-2.25 2.25h-7.5a2.25 2.25 0 0 1-2.25-2.25v-.75" />
                    </svg>     
            </button>
        </div>
    </div>
{% endpartialdef post-form %}


{% partialdef prayer-quote-form %}
    <div class="pt-7 pb-3"  x-data="{ type: 'quote' }">
        <div class="mb-4">
            <label class="input input-bordered flex items-center gap-2">
                <input type="text" name="author" class="grow border-0" placeholder="Author*" required/>
            </label>
        </div>

        <div class="mb-4">
            <label class="input input-bordered flex items-center gap-2">
                <input type="text" name="citation" class="grow border-0" placeholder="Citation"/>
            </label>
        </div>

        <div class="pb-2">
            <textarea name="content" class="textarea textarea-bordered h-44 w-full" placeholder="Insert Quote/Prayer Here*" required></textarea>
        </div>

        <div class="mb-4">
            <span class="mr-2">Type:</span>
            <input type="radio" name="type" x-model="type" value="quote" class="radio radio-primary"  required> Quote
            <input type="radio" name="type" x-model="type" value="prayer" class=" radio radio-primary ml-4" required> Prayer
        </div>

        <!--TODO: Add path for new quote-->
        <div class="text-end">
            <button class="btn btn-outline btn-primary" 
                    :hx-post="`/${type}/new/`"
                    hx-push-url="false"
                    hx-target="#post_form"
                    hx-swap="innerHTML"
                    @click="close_new_post_modal()">           
                Submit
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 7.5h-.75A2.25 2.25 0 0 0 4.5 9.75v7.5a2.25 2.25 0 0 0 2.25 2.25h7.5a2.25 2.25 0 0 0 2.25-2.25v-7.5a2.25 2.25 0 0 0-2.25-2.25h-.75m0-3-3-3m0 0-3 3m3-3v11.25m6-2.25h.75a2.25 2.25 0 0 1 2.25 2.25v7.5a2.25 2.25 0 0 1-2.25 2.25h-7.5a2.25 2.25 0 0 1-2.25-2.25v-.75" />
                    </svg>     
            </button>
        </div>
    </div>
{% endpartialdef prayer-quote-form %}


<dialog id="new_post_model" class="modal" x-ref="new_post_dialog" @click="close_npm_from_event(event)">
    <div class="modal-box" x-data="{ post_tab: true, prayer_tab: false, quote_tab: false }">
        <h3 class="text-lg font-bold">Submit a New Seedling</h3>
        <button type="button" 
            class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
            @click="close_new_post_modal()"
            >✕</button>
        <!--TODO: Add tabs that change the form based on the tab-->
        
        <div role="tablist" class="tabs tabs-boxed mt-2" >
            <a role="tab" class="tab" 
               :class="{ 'tab-active': post_tab }" 
               @click="post_tab = true; prayer_tab = false; quote_tab = false">Share a Link</a>
            <a role="tab" class="tab" 
               :class="{ 'tab-active': quote_tab }" 
               @click="post_tab = false; prayer_tab = false; quote_tab = true">Share a Quote</a>
        </div>
        
   
        <form x-show="post_tab" method="dialog" id="post_form">
            {% csrf_token %}
            
            {% partial post-form %}
        </form>
        
        
        <form method="dialog" id="post_form" x-show="quote_tab">
            {% csrf_token %}
            
            {% partial prayer-quote-form %}
        </form>

    </div>
</dialog>
