{% load static %}

<div class="card card-compact bg-base-100 w-80 h-80 image-full shadow-xl mx-6" onmouseover="expandCard(this);" onmouseout="shrinkCard(this);">
    <figure class="h-80">
        <img 
            src="{% static '/img/prayer_img_v2.jpg' %}"
            alt="prayer" />
    </figure>
    <div class="card-body">
        <div class="">
            <p class="font-sans font-semibold text-white truncated-content">{{prayer.content | truncatewords:90 }}</p>
            <p class="font-sans font-semibold text-white hidden full-content">"{{prayer.content}}" </p>
        </div>
        {% include 'components/interactable.html' %}
    </div>

</div>