{% load comments %}
{% load partials %}

{% partialdef upvote-downvote %}
    <div id="upvote_downvote" class="scale-75 join">
        <!--Upvote Button-->
        <button 
            hx-get="{% url 'upvote_comment' comment.id %}"
            hx-push-url="false"
            hx-target="#upvote_downvote"
            hx-swap="outerHTML"
            hx-trigger="click"
            class="btn btn-outline join-item">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18" />
            </svg> {% if comment.upvotes > 0 %} {{comment.upvotes}} {% endif %}                      
        </button>
        <!--Downvote Button-->
        <button 
            hx-get="{% url 'downvote_comment' comment.id %}"
            hx-push-url="false"
            hx-target="#upvote_downvote"
            hx-swap="outerHTML"
            hx-trigger="click"
            class="btn btn-outline join-item">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5 12 21m0 0-7.5-7.5M12 21V3" />
            </svg>                      
        </button>
    </div>
{% endpartialdef upvote-downvote %}

{% partialdef comment-list %}
    {% get_comment_list for content as comment_list %}
    {% for comment in comment_list %}
        <div class="bg-neutral rounded-lg border border-primary hover:bg-surface-hover h-fit py-3 my-4">
            <div class="flex items-center gap-2 px-3">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                    <div class="w-10 rounded-full">
                    <img
                        alt="Posted By Image"
                        src="{{ comment.user.profile.profile_pic.url }}" />
                    </div>
                </div>
                <div class="badge self-center">{{comment.user.username}}</div>
            </div>
            <div class="px-3">
                <span class="text-small">{{ comment.comment }}</span>
            </div>
            <div class="py-2">
                {% partial upvote-downvote %}
            </div>
        </div>
    {% endfor %}
{% endpartialdef comment-list %}


<div x-data="{ comment_open: false }" class="relative">
    
    <button x-show="!comment_open" x-on:click="comment_open = ! comment_open" 
        type="button" 
        class="flex w-full items-center gap-4 rounded-md border-2 border-yellow-200
        p-3 typo-callout hover:border-gray-200 
        hover:bg-surface-hover tablet:border tablet:bg-surface-float 
        mt-6 tablet:flex hover:bg-neutral">
        <img class="object-cover w-10 h-10 rounded-12 hidden tablet:flex"
             loading="lazy" type="avatar" fetchpriority="auto" alt="adamjbuckingham's profile" 
             src="https://avatars.githubusercontent.com/u/48027257?v=4&amp;s=64">
             <span class="text-text-tertiary">Share your thoughts</span>
             <a disabled="" class="btn btn-outline inline-flex cursor-pointer select-none flex-row
                items-center border no-underline shadow-none transition
                duration-200 ease-in-out typo-callout justify-center font-bold 
                h-10 px-5 ml-auto text-text-primary tablet:flex">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 9.75a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 0 1 .778-.332 48.294 48.294 0 0 0 5.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
                  </svg>                  
                Post</a>
    </button>

    {% get_comment_form for content as form %}


    <form method="post"
            x-show="comment_open" 
            class="max-w-5xl bg-neutral rounded-lg border p-2 mx-auto mt-20 border-yellow-200"
            >
        {% csrf_token %}

        <input type="text" name="honeypot" style="display:none;">
        <!--
        <input type="hidden" name="content_type" value="{{ model }}">
        <input type="hidden" name="object_pk" value="{{ content.id }}">
        -->
        {{ form.honeypot }}
        {{ form.content_type }}
        {{ form.object_pk }}
        {{ form.timestamp }}
        {{ form.security_hash }}

        <div class="flex py-3 mb-2 mt-2">
            <button type="button" 
                class="btn btn-sm btn-circle btn-primary absolute right-2 top-2"
                x-on:click="comment_open = ! comment_open"
                >✕
            </button>
        </div>
        <div class="flex px-3 mb-2 mt-2 ">
            <textarea id="comment-form" name="comment" placeholder="Share your thoughts" class="bg-neutral text-white w-full bg-gray-100 rounded border border-gray-400 h-40 leading-normal resize-none py-2 px-3 font-medium placeholder-black-700 textarea-lg focus:border-primary"></textarea>
        </div>
        <div class="flex justify-end px-4">
            <button
                hx-post="{% url 'seed_comment' %}"
                hx-push-url="false"
                hx-target="#{{type}}_{{content.id}}_comment_list"
                hx-swap="innerHTML"
                hx-on::after-request="clearCommentForm()"
                class="btn btn-outline btn-primary inline-flex cursor-pointer select-none flex-row
                items-center border no-underline shadow-none transition
                duration-200 ease-in-out typo-callout justify-center font-bold 
                h-10 px-5 ml-auto text-text-primary tablet:flex">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 9.75a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 0 1 .778-.332 48.294 48.294 0 0 0 5.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
                  </svg>                  
                Post</button>
        </div>
    </form>

    <div id="{{type}}_{{content.id}}_comment_list">
       {% partial comment-list %} 
    </div>

</div>