{% load static %}
{% load _extras %}

<div id="quote_card_{{quote.id}}" class="card card-compact bg-base-100 w-80 h-80 image-full shadow-xl mx-6" onmouseover="expandCard(this);" onmouseout="shrinkCard(this);">
    <figure class="h-80 bckGround-image">
    {% if 'Meditation'|check_tag:quote %}
        <img
            src="{% static '/img/meditation_img.jpg' %}"
            alt="meditation" />
    {% else %}
        <img
            src="{% static '/img/quote_img.jpg' %}"
            alt="meditation" />
    {% endif %}
    </figure>
    <div class="card-body">
        <div class="">
            <p class="font-sans font-semibold text-white text-ellipsis overflow-hidden truncated-content" id="">"{{quote.content | truncatewords:90 }}" </p>
            <p class="font-sans font-semibold text-white hidden full-content">"{{quote.content}}" </p>
        </div>
        <div class="flex-none mt-2">
            <span class="font-sans font-bold text-yellow-500">- {{quote.author}}</span>
        </div>
        {% if user.is_authenticated %}
            {% include 'components/interactable.html' with content=quote type='quote' id=quote.id %}
        {% endif %}
    </div>
</div>
