.hover\:shadow-gold-glow:hover {
    box-shadow: 0 0 10px 5px #ffd700;
    cursor: pointer;
}

#id_honeypot {
    display: none;
}

.signin-indicator {
    display: none;
}

.htmx-request .signin-indicator {
    display: inline;
}
.htmx-request.signin-indicator {
    display: inline;
}

.signup-indicator {
    display: none;
}

.htmx-request .signup-indicator {
    display: inline;
}
.htmx-request.signup-indicator {
    display: inline;
}
